body{
    margin: 0;
    font-family: Montserrat;
}
hr{
    background-color: black;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
header{
    background-image: url(../img/first-screen.png);
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    background-size: 100%;
    margin: 0 auto;
}
.header-menu {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.logotip {
    display: block;
    text-align: center;
}
.img-logotip{
    width: 60px;
    height: 60px;
}
.name-logo{
    margin: 0;
    color: #a80ecf;
    font-size: 18px;
}
.header-info {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.locotion {
    width: 200px;
    display: flex;
}
.location-svg{
    width: 20px;
    height: 20px;
    fill: white;
    margin-right: 10px;
}
.p-locotion {
    margin: 0;
    color: white;
}
.contact {
}
.number {
    display: flex;
    align-items: center;
    margin: 0;
}
.number-svg {
    width: 20px;
    height: 20px;
    fill: white;
    margin-right: 10px;
}
.contact-number {
    color: white;
    margin: 0;
}
.p-contact {
    color: white;
    margin: 0;
}
/* catalog info */
.header-zagolovok {
    width: 550px;
    padding-left: 50px;
    margin-top: 120px;
    margin-left: 200px;

}
.delicious {
    width: 140px;
    height: 40px;
    background-color: white;
    font-size: 10px;
    line-height: 40px;
    border-radius: 15px;
}
.h1-delicious {
    text-align: center;
    font-size: 16px;
}
.h1-zagolovok {
    color: white;
    width: 500px;
    font-size: 40px;
}
.p-zagolovok {
    color: white;
    font-size: 24px;
    width: 400px;
}
.button-info {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.catalog-button {
    background-color:  #a80ecf;
    width: 180px;
    height: 40px;
    line-height: 40px;
    border-radius: 15px;
    text-align: center;
    transition: all 0.5s;
}
.a-catalog {
    text-decoration: none;
    color: black;
    font-size: 14px;

}
.catalog-info1 {
    margin-left: 20px;
    width: 150px;
}
.p-catalog-info {
    color: white;
    font-size: 14px;
}
.svg-container{

}
.leaf-svg {
    width: 275px;
    height: 286px;
    margin-top: 110px;
}
/* cake assorti */
.cake-assorti {
    width: auto;
    height: 1700px;
    margin-top: 50px;
}
.h1-cake {
    text-align: center;
    font-size: 45px;
}
.cake-grid-container {
    width: 1200px;
    margin: 0 auto;
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(3,3fr);
}
.cake-card {
    width: 380px;
    border-radius: 15px;
    border-style: solid;
    border-color: darkgray;
    padding-bottom: 20px;
    transition: all 0.5s;
}
.img-card {
    background-size: 100%;
}
.h1-name-cake {
    padding-left: 30px;
    font-size: 24px;
}
.p-cake-info {
    padding-left: 30px;
    width: 250px;
    font-size: 16px;
}
.p-price {
    padding-left: 30px;
    font-size: 24px;
}
.buy-cake {
    text-align: center;
    background-color:  #a80ecf;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: 30px;
    border-radius: 10px;
    transition: all  0.5s;
}
.a-buy-cake {
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.bottom-shadow-bgi{
    max-width: 100%;
    background-size: 100%;
    margin:  0 auto;
}
/* my cake container */
.my-cake-container{
    width: auto;
    background:#081130;
    height: 880px;
}
.phone-img{
    margin-top: 220px;
    width: 640px;
}
.my-cake-flex {
    display: flex;
    justify-content: space-between;
}
.my-cake-info {
    margin-right: 200px;
    width: 550px;
    margin-top: 200px;
    display: block;
}
.h1-my-cake {
    width: 210px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    color: black;
    border-radius: 15px;
    font-size: 14px;
    text-align: center;
}
.h1-my-cake2 {
    color: white;
    font-size: 50px;
}
.p-my-cake {
    width: 450px;
    color: white;
    font-size: 18px;
}
.button-my-cake {
    background-color:  #a80ecf;
    border-radius: 15px;
    width: 220px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    transition: all 0.5s;
}
.a-my-cake {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

/* conditer container */
.conditer-container {
    width: auto;
    height: 900px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.canditer-info {
    display: block;
    width: 580px;
}
.p-button {
    color: black;
    background-color:#F2F6FA;
    width: 180px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
}
.h1-canditer {
    width: 550px;
    color: black;
    font-size: 48px;
}
.ul-conditer-info {
    padding-left: 20px;
}
.li-conditer-info {
    font-size: 18px;
}
li::marker{
    color: blue;
}
.button-more{
    width: 200px;
    height: 40px;
    background-color:  #a80ecf;
    border-radius: 15px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s;
}
.a-conditer-button {
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.conditer-container2{
    display: block;
}
.conditer-img {
}
.name-container{
    margin-top: -250px;
    margin-left: -100px;
    width: 300px;
}
.conditer-border{
    width: 250px; 
    height: 55px;
    transform: skew(-10deg);
    background: #2E363E;
    line-height: 55px;
    text-align: center;
}
.conditer-border2{
    width: 200px; 
    height: 50px;
    transform: skew(-10deg);
    background: #F2F6FA;
    line-height: 40px;
    text-align: center;
    margin-left: 20px;
}
.h1-name-conditer { 
    font-size: 24px;
    color: white;
}
.h1-name-conditer2 {
    font-size: 22px;
    margin: 0;
}
.img-top-shadow2{
    max-width: 100%;
    width: auto;
    background-size: 100%;
    margin-top: 20px;
}
/* feedback container */
.feedback-container {
    margin-top: -270px;
    background-color: #081130;
    height: 1200px;
}
.h1-feedback {
    padding-top: 200px;
    margin-bottom: 50px;
    color: white;
    text-align: center;
    font-size: 50px;
}
.feedback-card {
    display: flex;
    background-color: white;
    width: 1200px;
    height: 460px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 80px;
}
.feedback-info {
    display: block;
    width: 500px;
    margin-right: 50px;
    margin-left: 50px;
}
.feedback-icon{
    fill: #5D6AFB;
    width: 50px;
    height: 50px;
}
.h1-feedback-card {
    color: black;
    font-size: 28px;
    width: 450px;
}
.p-feedback {
    width: 430px;
    font-size: 16px;
}
.feedback-img-container {
    display: block;
    margin-left: 30px;
}
.img-feedback {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    margin-right: 50px;
}
.img-feedback2 {
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 50%;
}
.feedback-name-container {
    text-align: center;
    margin-right: 50px;
}
.h1-name-feedback {
    margin-bottom: 10px;
    font-size: 30px;
}
.p-city-feedback {
    color: #A6AEB6;
}
.button-slider{
    text-align: center;
    margin: 50px auto;
}
.prev-button{
    width: 40px;
    height: 40px;
    background-color:  #a80ecf;
    border-radius: 50%;
    font-size: 20px;
}
.next-button{
    width: 40px;
    height: 40px;
    background-color:  #a80ecf;
    border-radius: 50%;
    font-size: 20px;
    margin-left: 30px;
}
.slider-container{
    position: relative;
    width: 950px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
}
.slider{
    display: flex;
    justify-content: space-evenly;
    transition: transform 0.5s ease-in-out;
}
.img-top-shadow{
    margin-top: -130px;
    max-width: 100%;
    width: auto;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* galary-container */
.galary-container {
    margin-top: -20px;
    width: 1440px;
    height: 1250px;
    margin: 0 auto;
}
.h1-galary {
    color: black;
    font-size: 50px;
    text-align: center;
}
.p-galary {
    color: black;
    font-size: 24px;
    text-align: center;
}
.galary-grid {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    row-gap: 10px;
}
.img-galary {
    width: 470px;
    margin: 0 auto;
    transition: all 0.5s;
}
/* large order container */
.large-order-container {
    background-color: #081130;
    height: 700px;
}
.bottom-shadow-img2{
    margin-top: -20px;
    max-width: 100%;
    width: auto;
    background-size: 100%;
}
.large-order {
    background-color: white;
    width: 900px;
    height: 300px;
    margin:  0 auto;
    border-radius: 15px;
}
.h1-large-order {
    text-align: center;
    font-size: 32px;
    padding-top: 40px;
}
.p-large-order {
    text-align: center;
    font-size: 18px;
}
.form-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.input-form {
    text-align: center;
    width: 350px;
    height: 50px;
    border-radius: 10px;
}
.input-form:placeholder-shown{
    border-color: #081130;
}
.form-button {
    width: 250px;
    height: 50px;
    background-color:  #a80ecf;
    border-radius: 15px;
    line-height: 50px;
    text-align: center;
    transition: all 0.5s;
}
.a-form {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.footer-form {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.p-checkbox {
}
/* footer */
.footer {
    background-color: #081130;
}
.footer-info1 {
    display: flex;
    justify-content: center;
}
.p-footer1 {
    color: #7E868E;
    font-size: 16px;
    padding-right: 30px;
}
.footer-info2 {
    text-align: center;
    display: flex;
    justify-content: center;
}
.p-footer2 {
    color: #7E868E;
    font-size: 16px;
}












